<form action="/new-plant/{{Type}}/{{index}}/save" method="POST" class="needs-validation" novalidate>
  <div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
      <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item red white-text" href="#one!">
      <h2>Iluminacion</h2>
      <p class="white-text">This is your first panel</p>
    </div>
    <div class="carousel-item amber white-text" href="#two!">
      <h2>Second Panel</h2>
      <p class="white-text">This is your second panel</p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h2>Third Panel</h2>
      <p class="white-text">This is your third panel</p>
    </div>
    <div class="carousel-item blue white-text" href="#four!">
      <h2>Fourth Panel</h2>
      <p class="white-text">This is your fourth panel</p>
    </div>
  </div>
    
    
  
    <div id="new-plant" class="row text-center">
        <h2 class="col-sm-12" >Valores recomendados para {{plant.info.name}}:</h2>
        <div class="col-sm-6">
            
            <label class="w-100 p-2" >Frecuencia de riego: <span class="font-weight-bold text-primary ml-2 mt-1" id="valueSpanFreq"></span></label>
            <input id="waterF" name="waterF" class="border-0" type="range" min="0" max="24" step="1" />
        </div>
        <div class="col-sm-6">
            
            <label class="w-100 p-2">Umbral minimo para empezar el riego: <span class="font-weight-bold text-primary ml-2 mt-1" id="valueSpanWater"></span></label>
            <input id="waterU" name="waterU" class="border-0" type="range" min="0" max="3" step="1" />
        </div>
        <div class="col-sm-6">
            <labe class="w-100 p-2">Valor de horas de luz diarios: <span class="font-weight-bold text-primary ml-2 mt-1" id="valueSpanLux"></span></label>
            <input id="lightH" name="lightH" class="border-0" type="range" min="0" max="24" step="1" />
        </div>
        <div class="col-sm-6">
            <labe class="w-100 p-2">Umbral minimo para empezar el complemento de luz: <span class="font-weight-bold text-primary ml-2 mt-1" id="valueSpanLuxUmbral"></span></label>
            <input id="lightU" name="lightU" class="border-0" type="range" min="0" max="3" step="1" />
        </div>
        <div class="col-sm-6">
            <label for="favcolor">Select your favorite color:</label>
            <input type="color" name="color" value="{{plant.sowing.light.color}}">
        </div>
        <textarea class="form-control" id="message-text">
            {{plant.info.description}}
        ...............    Recomendacion.............
            {{plant.info.recomendation}}
        </textarea>
        <button type="submit" class="btn btn-primary">Save</button>
</form>

</div>
<script>
  window.onload = function() {
    const umbralLux = ["Sin luz", "poca luz", "en sombra", "Luz directa"];
    const umbralWater = ["Seco", "Poco Humedo", "Humedo", "Encharcado"];
    const localPlant =  {{{JSON2string plant}}} ;

    const valueSliderFreq = document.getElementById("waterF");
    valueSliderFreq.value = localPlant.sowing.water.frequency;

    const valueSpanFreq = document.getElementById('valueSpanFreq');
    valueSpanFreq.textContent = `cada ${valueSliderFreq.value} dias`;
    
    const valueSliderWater = document.getElementById("waterU");
    valueSliderWater.value = localPlant.sowing.water.limit;

    let valueSpanWater = document.getElementById('valueSpanWater');
    valueSpanWater.textContent = `${umbralWater[valueSliderWater.value]}`;
    
    let valueSliderLux = document.getElementById("lightH");
    valueSliderLux.value = localPlant.sowing.light.min;

    let valueSpanLux = document.getElementById('valueSpanLux');
    valueSpanLux.textContent = `${valueSliderLux.value} horas diarias`;

    let valueSliderLuxUmbral = document.getElementById("lightU");
    valueSliderLuxUmbral.value = localPlant.sowing.light.min;

    let valueSpanLuxUmbral = document.getElementById('valueSpanLuxUmbral');
    valueSpanLuxUmbral.textContent = `${umbralLux[valueSliderLuxUmbral.value]}`;
    
    valueSliderLuxUmbral.addEventListener('change', (event) => {
        valueSpanLuxUmbral.textContent = `${umbralLux[event.target.value]}`;
    });

    valueSliderFreq.addEventListener('change', (event) => {
        valueSpanFreq.textContent = `cada ${event.target.value} dias`;
    });
    
    valueSliderWater.addEventListener('change', (event) => {
        valueSpanWater.textContent = `${umbralWater[event.target.value]}`;
    });
    
    valueSliderLux.addEventListener('change', (event) => {
        valueSpanLux.textContent = `${event.target.value} horas diarias`;
    });
    
    console.log( localPlant);
}
</script>
