
<div class="row">
{{#if Type}}
  <form id="form" action="/new-plant/{{Type}}/{{index}}/save" method="POST" class="col s12">
{{else}}  
  <form id="form" action="/edit-plant/{{index}}/save" method="POST" class="col s12" >
{{/if}}
    <div class="row">
      <h4>Valores recomendados para <span id="PlantName">{{plant.info.name}}</span> :</h4>
      <div class="col m8 s12">
        <div class="row">
          <div class="input-field col s6">
            <p>Frecuencia de riego: <span id="valueSpanFreq"></span></p>
            <div id="waterF"></div>
          </div>
          <div class="input-field col s6">
              <p>Limite de riego: <span id="valueSpanWater"></span></p>
              <div id="waterU"></div>
          </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
              <p>Valor de horas de luz diarios: <span id="valueSpanLux"></span></p>
              <div id="lightH"></div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
              <input placeholder="Led start" id="led_start" name="led_start" type="number" class="validate">
              <label for="waterPin">Led start</label>
            </div>
            <div class="input-field col s4">
              <input placeholder="Led end" id="led_end" name="led_end" type="number" class="validate">
              <label for="waterPin">Led end</label>
            </div>
            <div class="input-field col s4">
              <input placeholder="Water pin" id="waterPin" name="waterPin" type="number" class="validate">
              <label for="waterPin">Water pin</label>
            </div>
        </div>
      </div>
      <div class="col m4 s12">
        <div class="row">
            <div class="input-field col s12">
                <div id="colorpicker">
                  <div class="sliders" id="red"></div>
                  <div class="sliders" id="green"></div>
                  <div class="sliders" id="blue"></div>
                  <div id="result"></div>
                </div> 
            </div>
        </div>
      </div>
      <!--  
        <div class="row">
          <div class="col m4 s12">
            <textarea class="input-field col s12" id="message-text">
              {{info.description}}
            ...............    Recomendacion.............
              {{info.recomendation}}
            </textarea>
          </div> 
        </div>
      -->
    </div>
    <div class="row">
      <div class="col s4">
        <div class="input-field col s12">
          <input placeholder="photocell1" id="adc1" name="adc1" type="number" class="validate">
          <label for="adc1">PhotoCell1</label>
        </div>

        <div class="input-field col s12">
          <input placeholder="photocell2" id="adc2" name="adc2" type="number" class="validate">
          <label for="adc2">PhotoCell2</label>
        </div>
      </div>
      <div class="col s4">
        <img style="width:100%"src="/img/sample-1.jpg" alt="plant" >
      </div>
      <div class="col s4">
        <div class="input-field col s12">
          <input placeholder="HumCap" id="adc3" name="adc3" type="number" class="validate">
          <label for="adc3">HumCap</label>
        </div>

        <div class="input-field col s12">
          <input placeholder="HumEC" id="adc4" name="adc4" type="number" class="validate">
          <label for="adc4">HumEC</label>
        </div>
      </div>
    </div>
    <button id="submit" type="submit" class="btn green">Save</button>
    <a href="/my-plants" class="btn btn-primary">Cancel</a>
  {{#if Type}}
  {{else}}  
    <a href="/delete-plant/{{date}}" class="btn red">Delente</a>
    <a href="/act/{{date}}" class="btn purple">action</a>
  {{/if}}
  </form>
</div>
<script src="/js/nouislider.js"></script>
<script src="/js/tools.js"></script>
<script src="/js/plantEditForm.js"></script> 
<script>
  const umbralLux = ["Sin luz", "poca luz", "en sombra", "Luz directa"];
  const umbralWater = ["Seco", "Poco Humedo", "Humedo", "Encharcado"];
  const localPlant =  {{{JSON2string plant}}} ;

  $( document ).ready(function() {
    if(localPlant.pinout){
      document.getElementById("adc1").value = localPlant.pinout.photocell1;
      document.getElementById("adc2").value = localPlant.pinout.photocell2;
      document.getElementById("adc3").value = localPlant.pinout.humCap;
      document.getElementById("adc4").value = localPlant.pinout.humEC;

      document.getElementById("led_start").value = localPlant.sowing.light.led_start;
      document.getElementById("led_end").value =   localPlant.sowing.light.led_end;
      document.getElementById("waterPin").value =   localPlant.sowing.water.pinout;

      const red = document.getElementById("red");
      red.noUiSlider.set(localPlant.sowing.light.color_red ); 
      const green = document.getElementById("green");
      green.noUiSlider.set(localPlant.sowing.light.color_green ); 
      const blue = document.getElementById("blue");
      blue.noUiSlider.set( localPlant.sowing.light.color_blue ); 
    }


    const valueSliderFreq = document.getElementById("waterF");
    valueSliderFreq.noUiSlider.set(localPlant.sowing.water.frequency); 

    const valueSliderLux = document.getElementById("lightH");
    valueSliderLux.noUiSlider.set(localPlant.sowing.light.hours);

    const valueSliderWater = document.getElementById("waterU");
    valueSliderWater.noUiSlider.set(localPlant.sowing.water.limit);

    const valueSpanFreq = document.getElementById('valueSpanFreq');
    valueSpanFreq.textContent = `cada ${ localPlant.sowing.water.frequency } dias`;

    let valueSpanWater = document.getElementById('valueSpanWater');
    valueSpanWater.textContent = `${umbralWater[ localPlant.sowing.water.limit ]}`;

    let valueSpanLux = document.getElementById('valueSpanLux');
    valueSpanLux.textContent = `${ localPlant.sowing.light.hours } horas diarias`;

    valueSliderFreq.noUiSlider.on('change.one', (values) => {
        valueSpanFreq.textContent = `cada ${parseInt(values[0],10)} dias`;
    });

    valueSliderWater.noUiSlider.on('change.one', (values) => {
        valueSpanWater.textContent = `${umbralWater[parseInt(values[0],10)]}`;
    });

    valueSliderLux.noUiSlider.on('change.one', (values) => {
        valueSpanLux.textContent = `${parseInt(values[0],10)} horas diarias`;
    });
});
</script>