
<div class="container">

<div class="row">
  <div class="fixed-action-btn">
    <a href="/new-plant" class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
  </div>
  
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h5>Bienvenido a tu coleccion de plantas {{user.name}} </h5>
        <a href="/new-plant" >Agregar una nueva planta</a>
      </div>
    </div>
    <div class="row">
      {{#each plants}}
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="/img/{{info.image}}">
              <span class="card-title">{{info.name}}</span>
              <a href="/edit-plant/{{@index}}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
            </div>
            <div class="card-content" style="padding: 20px 5px">
              <!-- <p>Fecha de creacion {{{toDate info.date }}} </p> --->
              <div>
                <div style="display: flex;">
                   <i class="material-icons">invert_colors</i>
                   <p>E:{{ toPercentage info.analog.humEC}}% C:{{ toPercentage info.analog.humCap}}%</p>
                </div>
                <div style="display: flex;">
                  <i class="material-icons">brightness_5</i>
                  <p>I:{{ toPercentage info.analog.photocell1}}%  O:{{ toPercentage info.analog.photocell2}}%</p>
                </div>
                <div style="display: flex;">
                  <i class="material-icons">access_time</i>
                  <p>{{{ toDate info.analog.date}}} </p>
                </div>
              </div>


            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
</div>
