
<div class="container">

<div class="row">
  <div class="fixed-action-btn">
    <a href="/new-plant" class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
  </div>
  
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h5>Bienvenido a tu coleccion de plantas {{user.name}} </h5>
        <a href="/new-plant" >Agregar una nueva planta</a>
      </div>
    </div>
    <div class="row">
      {{#each plants}}
        <div class="col s6 m3">
          <div class="card" style="border-radius: 10px;" >
            <div class="card-image">
              <img src="/img/{{info.image}}">
              <span style=" opacity: 1; color: #000; padding: 0px; background: #fff; margin-bottom: -20px; margin-left: 10px;" 
                class="card-title">{{info.name}}
              </span>
            </div>
            <div class="card-content" style="padding: 15px 5px 10px 5px;border: 2px solid #88b50d;border-radius: 10px;">
              <!-- <p>Fecha de creacion {{{toDate info.date }}} </p> --->
              <div>
                <div style="padding: 2px 0px; display: flex;">
                   <i class="material-icons">invert_colors</i>
                   <p>  E:{{ toPercentage info.analog.humEC}}%  C:{{ toPercentage info.analog.humCap}}%</p>
                </div>
                <div style="padding: 2px 0px; display: flex;">
                  <i class="material-icons">brightness_5</i>
                  <p>  I:{{ toPercentage info.analog.photocell1}}%   O:{{ toPercentage info.analog.photocell2}}%</p>
                </div>
                <div style="padding: 2px 0px; display: flex;">
                  <i class="material-icons">access_time</i>
                  <p>{{{ toDate info.analog.date}}} </p>
                </div>
              </div>
              <div style="text-align: center; padding-top:5px">
                <a href="/edit-plant/{{@index}}" style="width: 45%;padding: 0px;margin-right: 5px;"class="waves-effect waves-light btn-small" >
                  Editar
                </a>
                <a href="/info-plant/{{@index}}" style="width: 45%;padding: 0px;" class="waves-effect waves-light btn-small" >
                  Info
                </a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
</div>
