
<div class="container">

<div class="row">
  <div class="fixed-action-btn">
    <a href="/new-plant" class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
  </div>
  
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h5>Bienvenido a tu coleccion de plantas {{user.name}} </h5>
        <a href="/new-plant" >Agregar una nueva planta</a>
      </div>
    </div>
    <div class="row">
      {{#each plants}}
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="/img/{{info.image}}">
              <span class="card-title">{{info.name}}</span>
              <a href="/edit-plant/{{@index}}" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">mode_edit</i></a>
            </div>
            <div class="card-content" style="padding: 20px 5px">
              <!-- <p>Fecha de creacion {{{toDate info.date }}} </p> --->
              <div>
                <p>WaterEC: {{info.analog.humEC}}%</p>
                <p>WaterCap: {{info.analog.humCap}}%</p>
                <p>Luz1: {{info.analog.photocell1}}lums</p>
                <p>Luz2: {{info.analog.photocell2}}lums</p>
                <p>Date: {{info.analog.date}}</p>
              </div>
              <p>Fecha de creacion:</p> 
              <p>{{{toDate info.date }}} </p> 
              <p>Ultimo riego </p>
              <p>{{{toDate sowing.water.last_water }}} </p>
              {{#if sowing.light.status }} 
               <p>Suministro de luz activado</p> 
              {{else}}
                <p>ultima suministro de luz </p>
                <p>{{{toDate sowing.light.last_light }}} </p>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
</div>