  <div class="row">
  <div class="section">
    <form class="col s12" action="/Users/update-user" method="POST">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" class="validate" value='{{name}}' name="name" />
          <label for="text">User name</label>
        </div>
        <div class="input-field col s6">
          <input type="password" class="validate" name="password"/>
          <label for="password" >Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="email">Email</label>
          <input type="email" class="validate" value="{{email}}" name="email" />
        </div>
        <div class="input-field col s6">
          <label for="repit_email">Repit Email</label>
          <input type="email" class="validate" value="{{emailRepeat}}" name="emailRepeat" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <label for="city">City</label>
          <input type="text" class="validate" value="{{city}}" name="city" />
        </div>
        <div class="input-field col s4">
          <label for="state">State</label>
          <input type="text" class="validate" value="{{state}}" name="state" />
        </div>
        <div class="input-field col s4">
          <label for="zip">Zip</label>
          <input onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" type="text" class="validate" value="{{zip}}" name="zip" />
        </div>
      </div>
      <div class="row">
        <div class="input-field col s2">
          <label for="MAC">MAC</label>
          <input class="validate" type="text" maxlength="3" value="{{MAC0}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="MAC0"/>
        </div>
        <div class="input-field col s2">
          <label for="MAC">MAC</label>
          <input class="validate" type="text" maxlength="3" value="{{MAC1}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="MAC1"/>
        </div>
        <div class="input-field col s2">
          <label for="MAC">MAC</label>
          <input class="validate" type="text" maxlength="3" value="{{MAC2}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="MAC2"/>
        </div>
        <div class="input-field col s2">
          <label for="MAC">MAC</label>
          <input class="validate" type="text" maxlength="3" value="{{MAC3}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="MAC3"/>
        </div>
        <div class="input-field col s2">
          <label for="MAC">MAC</label>
          <input class="validate" type="text" maxlength="3" value="{{MAC4}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="MAC4"/>
        </div>
        <div class="input-field col s2">
          <label for="MAC">MAC</label>
          <input class="validate" type="text" maxlength="3" value="{{MAC5}}" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" name="MAC5"/>
        </div>
      </div>
      <div class="row">
          <div class="col s3">
            <p> 
              <input type="checkbox" id="BME280" name="BME280" {{BME280}} />
              <label for="BME280">BME280</label>
            </p>
          </div>
          <div class="col s3">
            <p>
              <input type="checkbox" id="CCS811" name="CCS811" {{CCS811}}/>
              <label for="CCS811">CCS811</label>
            </p>
          </div>
          <div class="col s3">
            <p>
              <input type="checkbox" id="Si7021" name="Si7021" {{Si7021}}/>
              <label for="Si7021">Si7021</label>
            </p>
          </div>
          <div class="col s3">
            <p> 
              <input type="checkbox" id="TCS34725" name="TCS34725" {{TCS34725}}/>
              <label for="TCS34725">TCS34725</label>
            </p>
          </div>
      </div>      
        <button class="col s12 btn waves-effect waves-light" type="submit">
        Save changes 
          <i class="material-icons">send</i>
        </button>

      </div>

    </form>
  </div>
</div>
