{{#each errors}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{{/each}}

<form action="/Users/new-user" method="POST" class="needs-validation" novalidate>
  <div class="form-row">
    <div class="col-sm-6">
      <label for="validationCustomUsername">Username</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend">@</span>
        </div>
        <input type="text" class="form-control" value="{{Name}}" name="Name" placeholder="Username" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
    </div>

   <div class="col-sm-6">
      <label for="inputPassword3" >Password</label>
        <input type="password" class="form-control" name="Password" placeholder="Password">
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" value="{{Email}}" name="Email" placeholder="Email"><div class="valid-feedback">
        Looks good!
      </div>
    </div>

    <div class="col-sm-6">
      <label for="inputEmail4">Repit Email</label>
      <input type="email" class="form-control" value="{{EmailRepeat}}" name="EmailRepeat" placeholder="Repit Email"><div class="valid-feedback">
        Looks good!
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-sm-4">
      <label for="validationCustom03">City</label>
      <input type="text" class="form-control" value="{{City}}" name="City" placeholder="City" required>
      <div class="invalid-feedback">
        Please provide a valid city.
      </div>
    </div>
    <div class="col-sm-4">
      <label for="validationCustom04">State</label>
      <input type="text" class="form-control" value="{{State}}" name="State" placeholder="State" required>
      <div class="invalid-feedback">
        Please provide a valid state.
      </div>
    </div>
    <div class="col-sm-4">
      <label for="validationCustom05">Zip</label>
      <input type="text" class="form-control" value="{{Zip}}" name="Zip" placeholder="Zip" required>
      <div class="invalid-feedback">
        Please provide a valid zip.
      </div>
    </div>
  </div>
  <div class="form-row">
    <label class="col-sm-12" for="validationCustom05">MAC</label>
    <div class="col input-group">
      <input class="form-control"type="text" maxlength="3" value="{{MAC0}}" name="MAC0" placeholder="MAC" required>
      <p style="padding: 0px 3px;" class="input-group-text">:</p>
    </div>
    <div class="col input-group">
      <input class="form-control"type="text" maxlength="3" value="{{MAC1}}" name="MAC1" placeholder="MAC" required>
      <p style="padding: 0px 3px;" class="input-group-text">:</p>
    </div>
    <div class="col input-group">
      <input class="form-control"type="text" maxlength="3" value="{{MAC2}}" name="MAC2" placeholder="MAC" required>
      <p style="padding: 0px 3px;" class="input-group-text">:</p>
    </div>
    <div class="col input-group">
      <input class="form-control"type="text" maxlength="3" value="{{MAC3}}" name="MAC3" placeholder="MAC" required>
      <p style="padding: 0px 3px;" class="input-group-text">:</p>
    </div>
    <div class="col input-group">
      <input class="form-control"type="text" maxlength="3" value="{{MAC4}}" name="MAC4" placeholder="MAC" required>
      <p style="padding: 0px 3px;" class="input-group-text">:</p>
    </div>
    <div class="col input-group">
      <input class="form-control"type="text" max="3" value="{{MAC5}}" name="MAC5" placeholder="MAC" required>
    </div>
   
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>


  <button class="btn btn-primary" type="submit">Submit form</button>
</form>

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>